.notify {
  color: white;
  padding: 0.5rem 1rem;
  z-index: 101;
  font-size: 0.9rem;
  width: max-content;
  white-space: nowrap;
  position: fixed;
  transform: translate(-50%);
  top: -100%;
  left: 50%;
}
.error {
  background-color: #b6002c;
}
.success {
  background-color: #23a447;
}

.slidein {
  animation-duration: 4s;
  animation-delay: -1s;
  animation-name: slidein;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes slidein {
  0% {
    top: -100%;
  }

  40% {
    top: 90px;
  }

  60% {
    top: 90px;
  }

  100% {
    top: -100%;
  }
}
