.bookmark {
  cursor: pointer;
  width: 2.5rem;
  position: absolute;
}
.bookmark:hover {
  color: rgba(245, 197, 24, 1);
}
.icon {
  height: 100%;
  width: 100%;
}
@media (max-width: 600px) {
  .bookmark {
    width: 1.5rem;
  }
}
