.settings {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 8px;
  overflow: hidden;
}
.settings h4 {
  font-weight: 500;
  padding: 1rem;
  color: #333333;
  background-color: rgba(245, 197, 24, 1);
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.btn {
  display: flex;
  align-items: center;
  color: #000;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: 0;
  background-color: white;
}

.btn:hover,
.active {
  background-color: #ebebeb;
}
@media (max-width: 600px) {
  .settings {
    margin: 0.5rem auto;
  }
  .settings h4 {
    font-weight: 400;
    padding: 5px;
    font-size: 1rem;
  }
  .filters {
    display: flex;
    flex-direction: row;
  }
  .btn {
    display: block;
    padding: 5px 10px;
    width: 5.5rem;
  }
}
