.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  min-height: calc(100vh - 14rem);
  width: 100%;
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(3, 37, 65, 0.8) 0%,
      rgba(3, 37, 65, 0) 100%
    ),
    url("../assests/Hero.jpeg");
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 12px;
  min-height: 300px;
  height: 100%;
  color: #fff;
}

.hero h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}
.hero h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.search {
  width: 50%;
}
@media (max-width: 600px) {
  .hero {
    height: 100vh;
  }
  .hero h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .hero h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
