.navbar {
  box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #333333;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  transition: height 0.1s linear;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 19px;
}
.navbar h1 {
  height: auto;
  cursor: pointer;
}
.links {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.links a {
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}

/* hamburget menu */
.hamburger {
  display: none;
}
.icon {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

.searchbox {
  transition: all 0.3 linear;
  transform: translateY(100);
}

@media (min-width: 800px) {
  .links {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 1.2rem;
  }
  .links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .icon {
    display: flex;
    margin: 0.5rem;
  }
}
