.searchBox {
  margin: 1rem 0;
  display: flex;
  border: 1px solid gray;
  border-radius: 30px;
  min-height: max-content;
  background-color: white;
  width: 100%;
}
.searchBox:focus-within {
  border: 1px solid lightgray;
}
.type {
  border: 0;
  margin: 0;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  color: rgb(96, 96, 96);
}
.type:focus {
  outline: 0;
}
.type:hover {
  color: #f5c518;
}
.input {
  border: 0;
  margin: 5px 10px 5px 5px;
  padding: 5px;
  width: 100%;
  background-color: transparent;
}
.input:focus {
  outline: 0;
  /* color: white; */
}
.button {
  position: relative;
  right: 10px;
  top: auto;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  font-size: larger;
  color: gray;
}
.button:hover {
  color: #f5c518;
}
.button:active {
  transform: scale(0.9);
}
@media (max-width: 600px) {
  .searchBox {
    margin: 0 auto;
    width: 100%;
  }
}
