.searchBox {
  margin: 20px auto;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  min-height: max-content;
}
.searchBox:focus-within {
  border: 1px solid #f5c518;
}

.type {
  border: 0;
  margin: 0;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  color: gray;
}
.type:focus {
  outline: 0;
}
.type:hover {
  color: #f5c518;
}
.input {
  border: 0;
  margin: 5px 10px 5px 5px;
  padding: 5px;
  min-width: 200px;
}
.input:focus {
  outline: 0;
  color: #f5c518;
}
.button {
  position: relative;
  right: 10px;
  top: auto;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  font-size: larger;
  color: gray;
}
.button:hover {
  color: #f5c518;
}
.button:active {
  transform: scale(0.9);
}
