.searchBox{
    margin: 20px auto ;
    border:0;
    display: flex;
    border: 1px solid transparent;
    background-color: #3b3b3b;
    border-radius: 5px;
}
.searchBox:focus-within{
    border: 1px solid #f5c518;
}

.type{
    border: 0;
    margin: 0;
    padding: 5px;
    border-right: 1px solid gray;
    background-color: #3b3b3b;
    border-radius: 5px 0 0 5px;
}
.type:focus{
    outline: 0;
}
.input{
    border:0;
    padding: 5px;
    width: 100%;
    background-color: #3b3b3b;
}
.input:focus{
    outline: 0;
}
.button{
    position: relative;
    right: 10px;
    top: auto;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: larger;
}
.button:hover{
    color: #f5c518;
}
.button:active{
    transform: scale(0.9);
}