.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 14rem);
  margin-top: 4rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
.grid a {
  text-decoration: none;
  color: black;
}

/* empty watchlist */
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #707070;
  margin: 0 auto;
}
.bookmark {
  width: 6rem;
  height: 8rem;
  margin: 1.2rem 0;
}
.empty p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.empty a {
  color: #2472b5;
}
.empty a:hover {
  text-decoration: underline;
}
